body {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 2px solid black;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#list-nav {
  display: flex;
  align-items: center;
}

#list-nav > li {
  margin-left: 1rem;
}

main {
  padding: 2rem;
}

#list-feed {
  margin-bottom: 2rem;
}

#list-feed > li {
  padding: 1rem;
  margin-bottom: .5rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#list-feed > li > h3, #list-feed > li > span {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.15rem;
}

#list-feed > li > div {
  flex: 1 100%;
}

#list-feed > li > div:first-of-type {
  margin-bottom: 1rem;
}

#list-feed > li > .message-footer {
  display: inline-flex;
  justify-content: flex-end;
}

.message-footer > ul {
  display: flex;
  align-items: center;
}

.message-footer > ul > li {
  margin-left: 1rem;
}

#form-message-new {
  display: flex;
  flex-direction: column;
}

#form-message-new > label {
  margin-bottom: .5rem;
}

#form-message-new > input, #form-message-new > textarea {
  margin-bottom: 1rem;
}

a, button {
  padding: .5rem 1rem;
  border: 2px solid black;
  font-weight: 600;
}

