<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Chatting App</title>
</head>
<body>
  <h1>Members Only</h1>
  <form action="/users/login" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="jduong" />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    <button type="submit">Log In</button>
  </form>
  <a href="/users/new">Sign Up</a>
</body>